

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
     font: 10px Calibri, "Gill Sans", "Gill Sans MT", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;;
     margin: 0;
   }

   text{
     fill: #7d7d7d;
   }

   .axis path,
   .axis line {
     fill: none;
     stroke: #7d7d7d;
     shape-rendering: crispEdges;
   }

   .x.axis path {
     display: none;
   }

   .y.axis path {
     display: none;
   }

   .y.axis line {
    	stroke-dasharray: 5, 5;
      opacity: 0.2;
    }

   .line {
     fill: none;
     stroke: steelblue;
     stroke-width: 1.5px;
   }

   .navigator .data {
       fill: lightgrey;
       stroke-width: 0px;
   }

   .navigator .line {
       fill: none;
       stroke: darkgrey;
       stroke-width: 1px;
   }

   .navigator .viewport {
       stroke: grey;
       fill: black;
       fill-opacity: 0.2;
   }
